<div class="center">
  <input type="checkbox" id="show" checked />
  <div class="container">
    <label for="show" class="close-btn fas fa-times" title="close" (click)="closePopup()">&times;</label>
    <div class="text">
      <div>Register User</div>
      <div class="text-span-size">
        <span class="error-block">
          {{RegisterStatus}}
        </span>
      </div>
    </div>

    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="data">
        <input type="text" placeholder="First Name" formControlName="firstName" />
        <span *ngIf="!userFirstName.valid && userFirstName.touched" class="error-block">
          Please Provide First Name
        </span>
      </div>

      <div class="data">
        <input type="text" placeholder="Last Name" formControlName="lastName" />
      </div>
      <div class="data">
        <input type="email" placeholder="Email: abc@example.com" formControlName="email" />
        <span *ngIf="!userEmail.valid && userEmail.touched" class="error-block">
          <span *ngIf="userEmail.hasError('required')">: Please Provide Email</span>
          <span *ngIf="userEmail.hasError('email')">: Please Provide Valid Email</span>
        </span>
      </div>
      <div class="data">
        <input type="password" placeholder="New Password" formControlName="password" />
        <span *ngIf="!userPassword.valid && userPassword.touched" class="error-block">
          <span *ngIf="userPassword.hasError('required')">: Please Provide Password</span>
          <span *ngIf="userPassword.hasError('minlength')">: Password must be 8 character</span>
        </span>
      </div>
      <div class="data">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
        <span *ngIf="userConfirmPassword.touched" class="error-block">
          <span *ngIf="!userConfirmPassword.valid && userConfirmPassword.hasError('required') " class="error-block">
            Please Provide Confirm Password
          </span>
          <span *ngIf="registerForm.hasError('passwordmatched')" class="error-block">
            Password and Confirm Password Must Be Same
          </span>
        </span>
      </div>
      <div class="data">
        <input type="tel" placeholder="Mobile Number" formControlName="mobile" />
        <span *ngIf="!userMobile.valid && userMobile.touched" class="error-block">
          <span *ngIf="!userMobile.valid && userMobile.hasError('required')">
            Please Provide Mobile Number
          </span>
        </span>
        <span *ngIf="!userMobile.hasError('required') && registerForm.hasError('mobilematched')" class="error-block">
          Mobile Number Must Be 10 Digit (0-9 only)
        </span>
      </div>
      <div class="btn">
        <div class="inner"></div>
        <button type="submit">Register</button>
      </div>
      <div class="signup-link">Already a member? <a href="#">Login now</a></div>
    </form>
  </div>
</div>
