 <div class="center">
  <input type="checkbox" id="show" checked>
  <div class="container">
     <label for="show" class="close-btn fas fa-times" title="close" (click)="closePopup()">&times;</label>
     <div class="text">
        Login Form
     </div>
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="data">
           <label>Email</label>
           <span *ngIf="!userEmail.valid && userEmail.touched" class="error-block">
             <span *ngIf="userEmail.hasError('required')">: Please Provide Email</span>
             <span *ngIf="userEmail.hasError('email')">: Please Provide Valid Email</span>
          </span>
           <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="data">
           <label>Password</label>
           <span *ngIf="!userPassword.valid && userPassword.touched" class="error-block">
            <span *ngIf="userPassword.hasError('required')">: Please Provide Password</span>
            <span *ngIf="userPassword.hasError('minlength')">: Password must be 8 character</span>
            </span>
           <input type="password" formControlName="password">
        </div>
        <div class="forgot-pass">
           <a routerLink="/userPasswordRecovery">Forgot Password?</a>
        </div>
        <div class="btn">
           <div class="inner"></div>
           <button type="submit">login</button>
        </div>
        <div class="signup-link">
           Not a member? <a routerLink="/register">Signup now</a>
        </div>
     </form>
  </div>
</div>
